img {
    width: 240px;
    height: 360px;
}

/* .box-1 {
    flex: 1;
    border: 1px solid red;
    padding: 10px;
}

.box-2 {
    flex: 1;
    border: 1px solid red;
    padding: 10px;
}

.box-3 {
    flex: 1;
    border: 1px solid red;
    padding: 10px;
} */

.profile-box {
    flex: 1;
    align-items: center;
    text-align: center;
}

.content-box {
    flex: 3;
}

@media(min-width: 768px) {
    /* .main {
        display: flex;
    } */
    .container-box {
        display: flex;
    }
    .profile-box {
        /* align-items: center; */
    }
}